.square{
    background-color: beige;
    border: 1px solid green;

}

.row-container{
    display: flex;
}

.draw-container{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}